/* global styles for the entire app */

/* removes default margin and padding from everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* sets the dark background for the entire app */
body {
  background-color: #0d0d0d;
  color: white;
}
/* this changes the placeholder text color to be more visible */
::placeholder {
  color: #888 !important;
}

/*glow effect when hovering over cards that you can click on*/
.task-card {
  transition: box-shadow 0.2s ease;
}
.task-card:hover {
box-shadow: 0 0 25px rgba(99, 102, 241, 0.9);
  border: 1px solid rgb(99, 102, 241);
}